<div>
  <h1>{{name}}</h1>
  <h2>{{description}}</h2>
  <hr>
  {{#with history}}
   <h2>History</h2>
   <p><b>Year:</b> {{year}}</p>
   <p><b>Founder:</b> {{founder}}</p>
  {{/with}} 
  <hr>
  {{#with types}}
  <h2>Types </h2>
   <li>Number;</li>
   <li>String;</li>
   <li>Boolean;</li>
   <li>Null;</li>
   <li>Undefined;</li>
   <li>Symbol;</li>
   <li>Object;</li>
  {{/with}}
  <hr>
  {{#with syntax}}
   <h2>Syntax</h2>
   <p><b>Variables:</b> {{variables}}</p>
   <p><b>Functions:</b> {{functions}}</p>
   <p><b>Conditionals:</b> {{conditionals}}</p>
   <p><b>Loops:</b> {{loops}}</p>
   <p><b>Classes:</b> {{classes}}</p>
  {{/with}}
  <hr>
  {{#with features}}
  <h2>Features</h2>
   <li>First-class functions;</li>
   <li>Closures;</li>
   <li>Dynamic typing;</li>
   <li>Prototype-based inheritance;</li>
   <li>Asynchronous programming with Promises and async/await;</li>
   <li>Modules with import/export statements;</li>
  {{/with}}
  <hr>
  {{#with libraries}}
  <h2>Libraries </h2>
   <p><button type="button" class="btn btn-outline-secondary">jQuery</button></p>
   <p><button type="button" class="btn btn-outline-secondary">React</button></p>
   <p><button type="button" class="btn btn-outline-secondary">Angular</button></p>
   <p><button type="button" class="btn btn-outline-secondary">Vue</button></p>
   <p><button type="button" class="btn btn-outline-secondary">Node.js</button></p>
   <p><button type="button" class="btn btn-outline-secondary">Express.js</button></p>
   <p><button type="button" class="btn btn-outline-secondary">Lodash</button></p>
   <p><button type="button" class="btn btn-outline-secondary">Moment.js</button></p>
  {{/with}}
  <hr>
  {{#with tools}}
  <h2>Tools </h2>
   <p><button type="button" class="btn btn-link">Babel</button></p>
   <p><button type="button" class="btn btn-link">Webpack</button></p>
   <p><button type="button" class="btn btn-link">ESLint</button></p>
   <p><button type="button" class="btn btn-link">Jest</button></p>
   <p><button type="button" class="btn btn-link">Mocha</button></p>
   <p><button type="button" class="btn btn-link">Chai</button></p>
   <p><button type="button" class="btn btn-link">Selenium</button></p>
   <p><button type="button" class="btn btn-link">Cypress</button></p>
   
  {{/with}}
  <hr>
  {{#each community}}
   <h2>Community</h2>
   <p><b>Name:</b> {{name}}</p>
   <p><b>Type:</b> {{type}}</p>
   <hr>
  {{/each}}



</div>