<div>
  <h1>{{name}}</h1>
  <h2>{{description}}</h2>
  <hr>
  {{#with history}}
   <h2>History</h2>
   <p><b>Year:</b> {{year}}</p>
   <p><b>Founder:</b> {{founder}}</p>
  {{/with}} 
   <hr>

  {{> title data="Types" big=true}}
    <ul>
  {{#each types}}
  <li>
     {{this}}
  </li>
  {{/each}}
    </ul>
 
  <hr>
  {{#with syntax}}
   <h2>Syntax</h2>
   <p><b>Variables:</b> {{variables}}</p>
   <p><b>Functions:</b> {{functions}}</p>
   <p><b>Conditionals:</b> {{conditionals}}</p>
   <p><b>Loops:</b> {{loops}}</p>
   <p><b>Classes:</b> {{classes}}</p>
  {{/with}}
  <hr>

  {{> title data="Features" big=true}}
    <ul>
  {{#each features}}
  <li>
     {{this}}
  </li>
  {{/each}}
    </ul>

  <hr>
  {{> title data="Libraries" big=true}}
    <ul>
  {{#each libraries}}
  <li>
     <button type="button" class="btn btn-link">{{this}}</button>
  </li>
  {{/each}}
    </ul>

  <hr>
  {{> title data="Tools" big=true}}
    <ul>
  {{#each tools}}
  <li>
     <button type="button" class="btn btn-link">{{this}}</button>
  </li>
  {{/each}}
  </ul>

  <hr>
  {{#each community}}
   <h2>Community</h2>
   <p><b>Name:</b> {{name}}</p>
   <p><b>Type:</b> {{type}}</p>
   <hr>
  {{/each}}



</div>