<main>


  {{#with navigation}}
   <section>
   <div class="row col-12">
    <div class="card">
    <div class="nav">
    {{#each links}}
    <div class="nav-item">
    <a href="{{href}}" class="nav-link">{{text}}</a>
    </div> 
    {{/each}}
    </div>
    </div>
    </div>
    </section>
  {{/with}} 

  {{#with header}}
  <section class="m-3 p-2">
    <h2>{{title}}</h2>
    {{#with button}}
    <a class="btn btn-outline-secondary" href="{{link}}">{{text}}</a>
    {{/with}}
    </section>
  {{/with}}

  <hr>

 {{> cartGoodsItem }}


 <hr>

 {{#with total}}
 <h2>{{title}}</h2>
 <h3>{{amount}}</h3>
 <h4>{{delivery}}</h4>

   {{#each buttons}}
   <div class="m-3">
      {{#if isSuccess includeZero=true}} 
        <span class="btn btn-success">Оформити замовлення</span>
      {{/if}}

      {{#if isOutline includeZero=true}} 
        <span class="btn btn-outline-success">Оформити кредит</span>
      {{/if}}
    </div>
    {{/each}}

 {{/with}}

 <hr>

  {{#with goodsOtherBlock}}
  <h2 class="text-center p-3">{{title}}</h2>
  <section>
  <div class="row col-12">
   {{#each cards}} 
    <div class="col-4 ">
    <div class="card">
    <img class="card-img-top" src="{{image}}">
    <img src="{{picture.src}}" alt="{{picture.alt}}">

    <div class="card-body">
    <h3 class="card-title">{{title}}</h3>
    

    {{#if isHot includeZero=true}} 
    <span class="badge text-bg-warning rounded-pill">Hot</span>
    {{/if}}

    {{#if idNew includeZero=true}} 
     <span class="badge text-bg-primary rounded-pill">New</span>
     {{/if}}
     <p>{{description}}</p>
     </div>
     </div> 
     </div>
     {{/each}} 
     </div>
     </section>
    
    {{/with}}


 <hr>

  <div class="card">
   <div class="card-body card text-bg-dark ">

    {{#with subscribe}}
    <h2>{{header}}</h2>
    <br>   
    <p>{{description}}</p>
      
    <br>
    {{#each buttons}}
    <div>
      <button class="btn btn-primary m-2">{{text}}</button>
    </div>
    {{/each}}

    {{/with}}
   </div>
  </div>

<hr>

 <section>
 <div class="row col-12">
 {{#each footer}} 
  {{#each this}}
    <div class="col-3">
    <div>
    <a class="btn btn-link text-link" href="{{link}}">{{text}}</a>
    </div>
    </div>
  {{/each}}
 {{/each}}
  </div>
  </section>


</main>