<div>
    {{#each itemList}}
	{{#with this}}
	<hr>
	  <div class="row">

    <div class="col-4">
      {{number}}
      <p><b>{{status}}</b></p>
    </div>

    <div class="col-2">
      {{amount.title}} :
     <p><b>{{amount.value}}</b></p>
    </div>
     
    <div class="col-4">
     {{#each images}}
		 <img class="col-2" src="{{this}}">
     {{/each}}
		</div>


		<div class="col-2">
		{{#with button}}
			<div class="row mx-1">
			<button class="btn {{#if isPrimary}} btn-primary {{/if}} 
				col gx-1 ">{{text}}</button>
			</div>
		{{/with}}
		</div>


	
	</div>
	{{/with}}

	{{/each}}
</div>